In [8]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [9]:
# Read CSV
csv_path ='./raw_data/clinicaltrial_data.csv'
clinical_data = pd.read_csv(csv_path, encoding='ISO-8859-1')
clinical_data.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [10]:
# Read CSV
csv_path ='./raw_data/mouse_drug_data.csv'
mousedrug_data = pd.read_csv(csv_path, encoding='ISO-8859-1')
mousedrug_data.head()

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [11]:
clinical_trial=clinical_data.merge (mousedrug_data, how='outer')
clinical_trial.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0           45.000000                 0  Capomulin
1     b128          5           45.651331                 0  Capomulin
2     b128         10           43.270852                 0  Capomulin
3     b128         15           43.784893                 0  Capomulin
4     b128         20           42.731552                 0  Capomulin

In [14]:
clinical_trial=clinical_trial.drop(['Mouse ID','Metastatic Sites'], axis=1)
clinical_trial=clinical_trial.set_index(['Drug','Timepoint'])
clinical_trial

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   45.651331
          10                  43.270852
          15                  43.784893
          20                  42.731552
          25                  43.262145
          30                  40.605335
          35                  37.967644
          40                  38.379726
          45                  38.982878
Ketapril  0                   45.000000
          0                   45.000000
          5                   48.791665
          10                  53.435987
          15                  58.135545
          20                  62.706031
          25                  64.663626
          30                  69.160520
          35                  71.905117
          0                   45.000000
          5                   47.462891
          10                  49.783419
          0                   45.000000
          5                   45.769249
          10                  46.658395
          15                  48.370999
          20                  49.762415
          25                  51.828357
          30                  56.098998
          35                  57.729535
...                                 ...
Capomulin 25                  44.596219
          30                  45.261384
          35                  45.941949
          40                  46.821070
          45                  47.685963
          0                   45.000000
          5                   45.622381
          10                  46.414518
          15                  39.804453
          20                  38.909349
          25                  37.695432
          30                  38.212479
          35                  32.562839
          40                  32.947615
          45                  33.329098
          0                   45.000000
          5                   38.796474
          10                  35.624403
          15                  32.623003
          20                  30.485985
          0                   45.000000
          5                   41.408591
          10                  36.825367
          15                  35.464612
          20                  34.255732
          25                  33.118756
          30                  31.758275
          35                  30.834357
          40                  31.378045
          45                  28.430964

[1906 rows x 1 columns]

In [15]:
clinical_trial.loc[['Capomulin']].head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   45.651331
          10                  43.270852
          15                  43.784893
          20                  42.731552

In [16]:
clinical_trial.pivot_table(clinical_trial,index='Timepoint',columns=['Drug'])

          Tumor Volume (mm3)                                              \
Drug               Capomulin   Ceftamin  Infubinol   Ketapril   Naftisol
Timepoint
0                  45.000000  45.000000  45.000000  45.000000  45.000000
5                  44.266086  46.503051  47.062001  47.389175  46.796098
10                 43.084291  48.285125  49.403909  49.582269  48.694210
15                 42.064317  50.094055  51.296397  52.399974  50.933018
20                 40.716325  52.157049  53.197691  54.920935  53.644087
25                 39.939528  54.287674  55.715252  57.678982  56.731968
30                 38.769339  56.769517  58.299397  60.994507  59.559509
35                 37.816839  58.827548  60.742461  63.371686  62.685087
40                 36.958001  61.467895  63.162824  66.068580  65.600754
45                 36.236114  64.132421  65.755562  70.662958  69.265506


Drug         Placebo   Propriva   Ramicane   Stelasyn  Zoniferol
Timepoint
0          45.000000  45.000000  45.000000  45.000000  45.000000
5          47.125589  47.248967  43.944859  47.527452  46.851818
10         49.423329  49.101541  42.531957  49.463844  48.689881
15         51.359742  51.067318  41.495061  51.529409  50.779059
20         54.364417  53.346737  40.238325  54.067395  53.170334
25         57.482574  55.504138  38.974300  56.166123  55.432935
30         59.809063  58.196374  38.703137  59.826738  57.713531
35         62.420615  60.350199  37.451996  62.440699  60.089372
40         65.052675  63.045537  36.574081  65.356386  62.916692
45         68.084082  66.258529  34.955595  68.438310  65.960888